<html>
	<title>View Daily Transactions History</title>
	<!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> -->
	<body>
	<div>
		<a href="/"><img src="/static/Header.png" width="550" height="150" alt="Header"></a>
	</div>
	<h1>Please enter the day of the date you wish to view</h1>
	<form action = '{{ url_for('viewDaily')}}' method = 'POST'>
	<table>
		<tr>
			<td><input name = 'Date' placeholder = 'MM-DD-YYYY'></td>
		</tr>	
	</table>
	<br><br>
	<input type = 'submit' value = 'Submit'>
	</form>
	</body>
</html>